<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Boekingssysteem</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,400italic,700,800' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="/style/normal.css" />
</head>
<body>
  <header>
    <div class="banner">
      <img src="/img/background2.jpg" alt="Banner"/>
    </div>
    <nav>
    <ul>
      <li><a href="/">Kamers</a></li>
      <%if(loggedIn == false){%>
        <li><a href="/users/login">Log in</a></li>
      <%} else{%>
        <li class="hasChildren">
          <span>Mijn account (<%=username%>)</span>
          <ul>
            <li><a href="/bookings">Mijn boekingen</a></li>
            <li><a href="/users/edit">Gegevens aanpassen</a></li>
            <li><a href="/users/remove">Verwijder account</a></li>
            <%if (admin == true){%>
              <li><a href="/admin">Admin paneel</a></li>
            <%}%>
            <li><a href="/users/logout">Uitloggen</a></li>
          </ul>
        </li>
      <%}%>
    </ul>
  </nav>
  </header>
  
  <main>
